{{define "index"}}
{{template "header"}}

       <div class="container tabla">
        <div class="container titles">
            <h6>Registro Pacientes</h6>
            <a name="" id="" class="btn btn-primary" href="/agregar" role="button">Agregar Paciente</a>
        </div>
        <table class="table table-striped table-inverse table-responsive">
            <thead class="thead-inverse">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                    {{range.}}
                    <tr>
                        <td>{{.Id}}</td>
                        <td>{{.Nombre}}</td>
                        <td>{{.Correo}}</td>
                        <td>
                            <a name="" id="" class="btn btn-danger" href="/delete?id={{.Id}}" role="button">Borrar</a>
                            <a name="" id="" class="btn btn-warning" href="/edit?id={{.Id}}" role="button">Editar</a>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
        </table>
    </div>
    

{{end}}
{{template "footer"}}

